*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    width: 100%;
    min-height: 100vh;
    background: #000;
    overflow-x: hidden;    
    overflow-y: auto;

    anchor-name: --active-box;
}

/* LAYOUT */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px; 
    padding: 40px 0;        
}


.box{
    height: 120px;
    width: 120px;
    background: #111; 
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    anchor-name: --box;
    transition: transform 0.4s ease, background 0.4s ease;
}

.box:hover{
    anchor-name: --active-box;
    transform: scale(1.05);
    background: #222; 
}


.bg-overlay{
    position: absolute;
    z-index: 1;

    position-anchor: --active-box;
    top: anchor(center);
    left: anchor(center);

    width: 1000px; 
    height: 1000px;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    background:
        radial-gradient(circle at center, rgba(120,120,120,0.5), rgba(0,0,0,0.8)),
        radial-gradient(circle at center, rgba(200,200,200,0.2), transparent 60%);

    filter: blur(100px) saturate(120%);
    opacity: 0;

    transition:
        opacity 2s ease-in-out,
        top 1.2s cubic-bezier(0.16,1,0.3,1),
        left 1.2s cubic-bezier(0.16,1,0.3,1);
    pointer-events: none;
}


body:has(.box:hover) .bg-overlay{
    opacity: 1;
}



@media (max-width: 768px) {

    body{
        flex-direction: column;
        gap: 30px;
        padding: 60px 0;
    }

    .box{
        width: 130px;
        height: 130px;
    }

    .bg-overlay{
        width: 850px;
        height: 850px;
        filter: blur(90px);
    }
}

@media (max-width: 480px) {

    .box{
        width: 110px;
        height: 110px;
    }

    .bg-overlay{
        width: 650px;
        height: 650px;
        filter: blur(70px);
    }
}
